.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

/* .main {
    width: 400px;
    height: 100px;
    background-color: blue;
} */

.left {
    width: 150px;
    height: 100px;
    background-color: #80bfa8;
    float: left;
}

.right {
    width: 250px;
    height: 100px;
    background-color: #bc2727;
    float: left;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

/*ウィンドウ幅が最大767pxまでの場合に適用(タブレット用)
・headerの横幅を250pxにする
・rightの横幅を100pxにする
・footerの横幅を250pxにする*/
@media screen and (max-width: 767px) {

   .header {
        width: 250px;
    }

    .right {
        width: 100px;
    }

    .footer {
        width: 250px;
    } 

}

/*ウィンドウ幅が最大479pxまでの場合に適用(スマホ用)
・headerの横幅を150pxにする
・rightの横幅を150pxにする
・footerの横幅を150pxにする
・要素の浮動化(float)の解除
*/
@media screen and (max-width: 479px) {

    .header {
        width: 150px;
    }

    
    .right {
        width: 150px;
        clear: both;/*要素の打ち消し */
    }

    .footer {
        width: 150px;
    }

}
